*{
    margin: 0%;
}
div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 200px;
    height: 200px;
    padding: 1%;
    border: 2px solid ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.Innerdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10%;
}
input{
    width: 90%;
    height: 22px;
}
label{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
button{
    height: 30%;
    width: 50%;
    font-size:15px;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 20px;
}