*{
    margin: 0%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color:antiquewhite ;
}
.logo{
    display: flex;
    align-items: center;
    height: 100%;
}
nav{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.hero{
    display: flex;
    background-color: antiquewhite;
    height: 100vh;
}
.courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}
.courses h1{
    font-size: 30px;
}
.Trending-Section{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25%;
   justify-content: center;
   align-items: center;
   background-color: rgb(216, 204, 189);
}
.Trending-Course{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 20px;
}
.Trending-Course button{
    height: 40%;
    border: 2px solid ;
    font-weight: 500;
    border-radius: 10%;
    background-color: antiquewhite;
    color: brown;
    font-size: 25px;
    cursor: pointer;
}
.Trending-Course button:hover{
   background-color: brown;
   color: antiquewhite;
}